exportPattern("^[a-z]+")

import("dplyr")
import("future")
import("future.apply")
import("fs")
import("readr")
import("stringr")
import("progressr")
import("ShortRead")
import("Biostrings")
import("reticulate")
import("cli")
import("data.table")

importFrom("methods", "as")
importFrom("stats", "sd", "quantile", "median", "anova", "complete.cases", "p.adjust")
importFrom("utils", "read.csv", "globalVariables")
importFrom("stringdist", "stringdist")
importFrom("ShortRead", "readFastq", "writeFastq", "sread")
importFrom("Biostrings", "DNAStringSet", "vcountPattern", "quality", "reverseComplement")
importFrom("graphics", "hist", "abline")
